.divi
{
  background-color: red;
  width: 200px;
  border: 5px solid;
}

.bigdiv
{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: skyblue;
  height: 600px;
}

.container{
display: flex;
  padding: 100px;
  background-color:whitesmoke;
  border: 1px solid;
  border-radius: 3px;
justify-content: center;
align-items: center;
}

.flex{
  display: flex;
  justify-content: center;
}

.button{
  display: flex;
  justify-content: center;
  text-align: center;
}

.login{
  margin-top: 10px;
  height: 30px;
  width: 270px;
border-radius: 2px;
border-color: skyblue;
  background-color: skyblue;
}

.username{
  display: flex;
  height: 20px;
  width: 270px;
 
}
.password{
  margin-top: 10px;
  display: flex;
  height: 20px;
  width: 270px;
 
}